* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




:root {
  --white: #ffffff;
  --cor-marrom1: #312725;
  --cor-marrom2: #4E342E;
  --cor-marrom3: #795548;
  --cor-destaque: #fe784f;
  --cor-texto-claro: #f7f7f7;
  --cor-fundo-claro: #f9ead4;
  --cor-cinza: #9a9494;



  --font-body: 'Open Sans', sans-serif;
  --font-navigation: 'Raleway', sans-serif;


}




body {
  background: radial-gradient(ellipse at center, #fdf5e6 0%, #f4e4c1 50%, #e8b282 100%);
  font-family: var(--font-body);
  min-height: 100vh;
}



a {
  text-decoration: none;
  color: inherit;
}